.product_card{
    padding: 1.5%;
    display: flex;
    justify-content: space-between;
    
    min-width: 320px;
    flex-direction: column;
    background-color: white;
    border-radius: 1%;
    border: 1px solid #bbb;
}

.product_info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart_button{
    width: 50%;
    align-self: center;
    font-size: 1rem;
    background-color: #f0c14b;
    border-color: #a88734;
}

.product_price{
    font-size: 1.5rem;
    font-weight: 500;
}

.product_img{
    max-height: 500px;
    object-fit: contain;
}